#area-greeting {
    width: 100%;

    background-color: #e6e6e6;
    padding-bottom: 3rem;

    background-image: url('../../../common//images/marble.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.greeting-content {
    width: 85%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 1rem;

    font-size: 0.9rem;
    line-height: 1.5rem;

    white-space: pre-line;
}
