#area-location {
    width: 100%;
    padding-bottom: 20px;
}

.map {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.map-link {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #757575;

    margin: 10px auto;

    color: #eee;
    font-size: 1rem;
    text-decoration: none;
}

.location-information {
    padding-left: 5px;
    margin-bottom: 30px;

    text-align: left;
    color: #444;
    text-decoration: none;

    position: relative;
}

.location-information-call {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
}
